<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <style>
        body {
            background-color: lightgoldenrodyellow;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>Добавление ученика</h1>
    <form method="post">
        <input type="text" name="fio" id="fio" class="form-control" placeholder="Ф.И.О"><br>
        <input type="text" name="class_puple" id="class_puple" class="form-control" placeholder="Класс ученика"><br>
        <input type="text" name="age" id="age" class="form-control" placeholder="Возраст ученика"><br>
        <input type="submit" class="btn btn-primary" value="Добавить">
    </form>
</div>
</body>
</html>