<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <style>
        body {
            background-color: lightgoldenrodyellow;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>Выберите ученика</h1>

    <form method="post" enctype="multipart/form-data">
    <div class="container">
            <div class="col-md-5 mb-3" style="margin-left: -15px">
                <select class="custom-select d-block w-70" id="puple" name="puple" required>
                     <option value="">Выберите ученика</option>
                     {% for puple in puples %}
                        <option>{{ puple }}</option>
                     {% endfor %}
                </select>
                <div class="invalid-feedback">
                    Вы не выбрали ученика.
                </div>
            </div>
        <input type="submit" class="btn btn-primary" value="Показать достижения">
    </div>
</form>
</div>
</body>
</html>